# IBM watsonx.ai Configuration
IBM_CLOUD_API_KEY=UO7fyarpTqbUhBqcxs4yOgQlu5QlN2S34N-GJUxUQ8zX
WATSONX_PROJECT_ID=8b75fb2a-a6c6-4f89-a18e-e1eefe5fd5a9
WATSONX_URL=https://us-south.ml.cloud.ibm.com
MODEL_ID=ibm/granite-3-8b-instruct

# Application Settings
PORT=5000
HOST=0.0.0.0
FLASK_DEBUG=True